@charset "UTF-8";
 .pm-bg{
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
 .pm-err-404{
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100%;	
}
 .pm-err-500{
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100%;	
} 

@font-face{
	font-family: 'NanumSquareRound',sans-serif;
	src : url(/pickme/resources/font/NANUMSQUAREROUNDEB.TTF) format('truetype');
}

*{
	background: ;
}